[Unit]
Description=Hourly Lustre backup pull from %i

[Timer]
OnCalendar=hourly
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target
